
::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-thumb {
  background-color: #c9c9c9; 
  border-radius: 4px; 
}

::-webkit-scrollbar-track {
  background-color: #ffffff; 
}

.bg-primary {
  background-color: #fff;
}

.bg-secondary {
  background-color: #01CF87;
}

.hidden-menu {
  display: none;
}

.flex-menu {
  display: flex;
  flex-direction: column;
}

.glass-effect {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

